<!-- Fase 3 (01/09/2026): a janela do Clã saiu do bitmap (titlebar_mid.bmp,
     sys_close_*.bmp, btnbar_mid2.bmp) e entrou no design system. Ganchos que
     Clan.js consulta, todos preservados: .titlebar (arraste) / .close /
     .content.info / .name .value / .level .value / .master .value /
     .members .online / .members .maxMember / .territory .value /
     .clan_illust / .emblem_container / .ally_list / .hostile_list. -->
<div id="Clan" class="ri-window">
	<div class="titlebar ri-header">
		<span class="ri-title">Clã</span>
		<button type="button" class="base close ri-close" title="Fechar">&times;</button>
	</div>

	<div class="tabs">
		<button class="info active ri-tab is-active"><ui-text msg="2355">Clan Info</ui-text></button>
	</div>

	<div class="panel">
		<div class="content info ri-scroll">
			<div class="name"><ui-text msg="2357">Clan Name</ui-text> : <span class="value"></span></div>
			<div class="level"><ui-text msg="2356">Clan level</ui-text> : <span class="value"></span></div>
			<div class="master"><ui-text msg="2362">Master Name</ui-text> : <span class="value"></span></div>
			<div class="members">
				<ui-text msg="2363">The number of members</ui-text> :
				<span class="maxMember">0</span>
				<ui-button bg="basic_interface/grp_online.bmp"></ui-button>
				<span class="online"></span>
			</div>
			<div class="territory"><ui-text msg="2364">Managed Territory</ui-text> : <span class="value"></span></div>
			<div class="clan_illust"></div>
			<div class="emblem"><ui-text msg="2358">Clan mark</ui-text></div>
			<div class="emblem_container"></div>
			<div class="ally"><ui-text msg="2359">Ally Clan</ui-text></div>
			<div class="ally_list"></div>
			<div class="hostile"><ui-text msg="2360">Hostile Clan</ui-text></div>
			<div class="hostile_list"></div>
		</div>
	</div>

	<div class="footer">
		<ui-button class="btn_ok" bg="btn_ok.bmp" hover="btn_ok_a.bmp" down="btn_ok_b.bmp"></ui-button>
	</div>
</div>
