<div id="SoundOption" class="ri-window">
	<div class="titlebar ri-header">
		<span class="ri-title"><span class="text" data-text="1485">Sound Settings</span></span>
		<button class="close ri-close" title="Fechar">&times;</button>
	</div>
	<div class="panel">
		<table>
			<tr>
				<td data-text="1495">BGM</td>
				<td>
					<input class="bgm" type="range" value="50" max="100" min="0" step="1" />
					<label class="toggle"><input type="checkbox" class="bgm_state" />on</label>
				</td>
			</tr>
			<tr>
				<td data-text="1496">Effect</td>
				<td>
					<input class="sound" type="range" value="50" max="100" min="0" step="1" />
					<label class="toggle"><input type="checkbox" class="sound_state" />on</label>
				</td>
			</tr>
		</table>
	</div>
</div>
