<!-- Fase 3 (01/09/2026): a janela de Trocar Carrinho saiu dos bitmaps de
     moldura (titlebar_mid.bmp, sys_close_*.bmp) e entrou no design system.
     Ganchos que ChangeCart.js consulta, todos preservados: .titlebar
     (arraste) / .titlebar .close / .cart[data-id] / .canvas. Os carrinhos
     continuam desenhados pelo JS em <canvas> (arte real do sprite). -->
<div id="changecart" class="ri-window">
	<div class="titlebar ri-header">
		<span class="text ri-title" data-text="659">ChangeCart</span>
		<button type="button" class="base close ri-close" title="Fechar">&times;</button>
	</div>
	<div class="carts ri-scroll">
		<div class="cart" data-id="1">
			<canvas id="cart1" class="canvas" width="75" height="80" style="pointer-events: none" data-id="1"></canvas>
		</div>
		<div class="cart" data-id="2">
			<canvas id="cart2" class="canvas" width="75" height="80" style="pointer-events: none" data-id="2"></canvas>
		</div>
		<div class="cart" data-id="3">
			<canvas id="cart3" class="canvas" width="75" height="80" style="pointer-events: none" data-id="3"></canvas>
		</div>
		<div class="cart" data-id="4">
			<canvas id="cart4" class="canvas" width="75" height="80" style="pointer-events: none" data-id="4"></canvas>
		</div>
		<div class="cart" data-id="5">
			<canvas id="cart5" class="canvas" width="75" height="80" style="pointer-events: none" data-id="5"></canvas>
		</div>
		<div class="cart" data-id="6">
			<canvas id="cart6" class="canvas" width="75" height="80" style="pointer-events: none" data-id="6"></canvas>
		</div>
		<div class="cart" data-id="7">
			<canvas id="cart7" class="canvas" width="75" height="80" style="pointer-events: none" data-id="7"></canvas>
		</div>
		<div class="cart" data-id="8">
			<canvas id="cart8" class="canvas" width="75" height="80" style="pointer-events: none" data-id="8"></canvas>
		</div>
		<div class="cart" data-id="9">
			<canvas id="cart9" class="canvas" width="75" height="80" style="pointer-events: none" data-id="9"></canvas>
		</div>
	</div>
</div>
