<div id="ShortCutOption" class="pt-page-fadeIn1 ri-window">
	<div class="border">
		<div class="titlebar ri-header">
			<span class="ri-title"><span class="text">Atalhos de Teclado</span></span>
			<button class="base close ri-close" type="button" title="Fechar">&times;</button>
		</div>

		<div class="tabs">
			<button class="t_skillbar selectedtab" data-index="t_skillbar">Barra de Skills</button
			><button class="t_ui" data-index="t_ui">Interface</button
			><button class="t_macro" data-index="t_macro">Macros</button
			><button class="t_gamepad" data-index="t_gamepad">Controle</button>
		</div>
		<div class="panel">
			<div class="content t_skillbar selectedtab ri-scroll">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr>
							<td>Barra de Skill 1-1</td>
							<td data-button="F1_1" class="customize"></td>
							<td>Barra de Skill 2-1</td>
							<td data-button="F2_1" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 1-2</td>
							<td data-button="F1_2" class="customize"></td>
							<td>Barra de Skill 2-2</td>
							<td data-button="F2_2" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 1-3</td>
							<td data-button="F1_3" class="customize"></td>
							<td>Barra de Skill 2-3</td>
							<td data-button="F2_3" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 1-4</td>
							<td data-button="F1_4" class="customize"></td>
							<td>Barra de Skill 2-4</td>
							<td data-button="F2_4" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 1-5</td>
							<td data-button="F1_5" class="customize"></td>
							<td>Barra de Skill 2-5</td>
							<td data-button="F2_5" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 1-6</td>
							<td data-button="F1_6" class="customize"></td>
							<td>Barra de Skill 2-6</td>
							<td data-button="F2_6" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 1-7</td>
							<td data-button="F1_7" class="customize"></td>
							<td>Barra de Skill 2-7</td>
							<td data-button="F2_7" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 1-8</td>
							<td data-button="F1_8" class="customize"></td>
							<td>Barra de Skill 2-8</td>
							<td data-button="F2_8" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 1-9</td>
							<td data-button="F1_9" class="customize"></td>
							<td>Barra de Skill 2-9</td>
							<td data-button="F2_9" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 3-1</td>
							<td data-button="F3_1" class="customize"></td>
							<td>Barra de Skill 4-1</td>
							<td data-button="F4_1" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 3-2</td>
							<td data-button="F3_2" class="customize"></td>
							<td>Barra de Skill 4-2</td>
							<td data-button="F4_2" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 3-3</td>
							<td data-button="F3_3" class="customize"></td>
							<td>Barra de Skill 4-3</td>
							<td data-button="F4_3" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 3-4</td>
							<td data-button="F3_4" class="customize"></td>
							<td>Barra de Skill 4-4</td>
							<td data-button="F4_4" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 3-5</td>
							<td data-button="F3_5" class="customize"></td>
							<td>Barra de Skill 4-5</td>
							<td data-button="F4_5" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 3-6</td>
							<td data-button="F3_6" class="customize"></td>
							<td>Barra de Skill 4-6</td>
							<td data-button="F4_6" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 3-7</td>
							<td data-button="F3_7" class="customize"></td>
							<td>Barra de Skill 4-7</td>
							<td data-button="F4_7" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 3-8</td>
							<td data-button="F3_8" class="customize"></td>
							<td>Barra de Skill 4-8</td>
							<td data-button="F4_8" class="customize"></td>
						</tr>
						<tr>
							<td>Barra de Skill 3-9</td>
							<td data-button="F3_9" class="customize"></td>
							<td>Barra de Skill 4-9</td>
							<td data-button="F4_9" class="customize"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="content t_ui ri-scroll">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr>
							<td>Informações Básicas</td>
							<td data-button="BasicInfo" class="customize"></td>
							<td>Informações do Personagem</td>
							<td data-button="Equipment" class="customize"></td>
						</tr>
						<tr>
							<td>Lista de Skills</td>
							<td data-button="SkillList" class="customize"></td>
							<td>Lista de Emoções</td>
							<td data-button="Emotions" class="customize"></td>
						</tr>
						<tr>
							<td>Lista de Amigos</td>
							<td data-button="Friends" class="customize"></td>
							<td>Janela de Grupo</td>
							<td data-button="Party" class="customize"></td>
						</tr>
						<tr>
							<td>Informações do Pet</td>
							<td data-button="PetInfo" class="customize"></td>
							<td>Sala de Bate-papo</td>
							<td data-button="ChatRoom" class="customize"></td>
						</tr>
						<tr>
							<td>Janela do Carrinho</td>
							<td data-button="PushCart" class="customize"></td>
							<td>Janela de Itens</td>
							<td data-button="Inventory" class="customize"></td>
						</tr>
						<tr>
							<td>Mapa Mundi</td>
							<td data-button="WorldMap" class="customize"></td>
							<td>Informações da Guilda</td>
							<td data-button="Guild" class="customize"></td>
						</tr>
						<tr>
							<td>Informações do Homúnculo</td>
							<td data-button="HomunInfo" class="customize"></td>
							<td>Informações do Mercenário</td>
							<td data-button="MercInfo" class="customize"></td>
						</tr>
						<tr>
							<td>Estado do Homúnculo</td>
							<td data-button="HomunState" class="customize"></td>
							<td>Estado do Mercenário</td>
							<td data-button="MercState" class="customize"></td>
						</tr>
						<tr>
							<td>Sentar/Levantar</td>
							<td data-button="Sit" class="customize"></td>
							<td>Atalhos</td>
							<td data-button="ShortCuts" class="customize"></td>
						</tr>
						<tr>
							<td>Tamanho da Barra de Chat</td>
							<td data-button="ChatSize" class="customize"></td>
							<td>Tamanho da Barra de Skills</td>
							<td data-button="SkillBarSize" class="customize"></td>
						</tr>
						<tr>
							<td>Quest</td>
							<td data-button="Quest" class="customize"></td>
							<td>Banco</td>
							<td data-button="Bank" class="customize"></td>
						</tr>
						<!--<tr>
                     <td>MobileUI</td>
                     <td data-button="M_UI" class="customize"></td>
                     <td>MUi-Toggle</td>
                     <td data-button="M_Toggle" class="customize"></td>
                  </tr>
                  <tr>
                     <td>MUi-TG</td>
                     <td data-button="M_Targeting" class="customize"></td>
                     <td>MUi-AT</td>
                     <td data-button="M_AutoTarget" class="customize"></td>
                  </tr>
                  <tr>
                     <td>MUi-ATK</td>
                     <td data-button="M_Attack" class="customize"></td>
                  </tr>-->
					</tbody>
				</table>
			</div>
			<div class="content t_macro ri-scroll">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr>
							<td>Macro 1</td>
							<td data-button="Macro1" class="customize"></td>
							<td>Sinalizador 1</td>
							<td data-button="Flag1" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 2</td>
							<td data-button="Macro2" class="customize"></td>
							<td>Sinalizador 2</td>
							<td data-button="Flag2" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 3</td>
							<td data-button="Macro3" class="customize"></td>
							<td>Sinalizador 3</td>
							<td data-button="Flag3" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 4</td>
							<td data-button="Macro4" class="customize"></td>
							<td>Sinalizador 4</td>
							<td data-button="Flag4" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 5</td>
							<td data-button="Macro5" class="customize"></td>
							<td>Sinalizador 5</td>
							<td data-button="Flag5" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 6</td>
							<td data-button="Macro6" class="customize"></td>
							<td>Sinalizador 6</td>
							<td data-button="Flag6" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 7</td>
							<td data-button="Macro7" class="customize"></td>
							<td>Sinalizador 7</td>
							<td data-button="Flag7" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 8</td>
							<td data-button="Macro8" class="customize"></td>
							<td>Sinalizador 8</td>
							<td data-button="Flag8" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 9</td>
							<td data-button="Macro9" class="customize"></td>
							<td>Sinalizador 9</td>
							<td data-button="Flag9" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 10</td>
							<td data-button="Macro10" class="customize"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="content t_gamepad ri-scroll">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr title="Define como os alvos sao selecionados em combate">
							<td>Modo de Alvo de Ataque</td>
							<td>
								<select class="attackTargetMode">
									<option value="0">Desativado</option>
									<option value="1">Menor HP</option>
									<option value="2">Mais Próximo</option>
								</select>
							</td>
						</tr>
						<tr title="Escolhe como as skills sao conjuradas com o controle">
							<td>Modo de Conjuração Rápida</td>
							<td>
								<select class="joyQuick">
									<option value="0">Desativado</option>
									<option value="1">Modo Soltar</option>
									<option value="2">Modo Instantâneo</option>
								</select>
							</td>
						</tr>
						<tr title="Ajusta a sensibilidade do movimento do mouse pelo analógico R3">
							<td>Movimento do Mouse</td>
							<td>
								<label style="display: inline-block; width: 90px">
									Sensibilidade:
									<input
										class="joySense"
										type="range"
										value="25.0"
										min="1.0"
										max="100.0"
										step="1.0"
										style="width: 90%; vertical-align: middle"
									/>
								</label>
							</td>
						</tr>
						<tr title="Desativa o mouse do controle nas interações com a interface">
							<td>Desativar Mouse Virtual</td>
							<td>
								<input type="checkbox" class="joyDisableVirtualMouse" />
							</td>
						</tr>
						<tr title="Troca as funções dos analógicos L3 e R3">
							<td>Trocar Analógicos L3-R3</td>
							<td>
								<input type="checkbox" class="joyReverseStick" />
							</td>
						</tr>
						<tr title="Oculta a interface automaticamente ao mover o mouse durante o jogo">
							<td>Ocultar Interface Automaticamente</td>
							<td>
								<input type="checkbox" class="joyAutoHide" />
							</td>
						</tr>
						<tr title="Define a zona morta dos analógicos">
							<td>Limite dos Eixos</td>
							<td>
								<label style="display: inline-block; width: 90px">
									Zona morta:
									<input
										class="joyDeadline"
										type="range"
										value="0.10"
										min="0.0"
										max="1.0"
										step="0.1"
										style="width: 90%; vertical-align: middle"
									/>
								</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button type="button" class="button reset left ri-btn ri-btn--sec">Redefinir</button>
			<button type="button" class="button ok right ri-btn">OK</button>
			<button type="button" class="button cancel right ri-btn ri-btn--sec">Cancelar</button>
			<button type="button" class="button close right ri-btn ri-btn--sec">Fechar</button>
		</div>
	</div>
</div>
