<!-- Fase 3 (01/09/2026): selecao de fabricacao/culinaria saiu dos bitmaps
     (titlebar_mid.bmp, win_service.bmp, itemwin_mid.bmp) e entrou no design
     system. Selectors que MakeItemSelection.js consulta, todos preservados:
     .head (arraste) / .head .text (titulo) / ui-button.cancel / ui-button.ok
     / #MakeItemSelection (delegacao de mousedown/dblclick) / .list /
     .materials (alvo de drop) / .select (item escolhido). -->
<div id="MakeItemSelection">
	<div class="head ri-header">
		<span class="text ri-title"></span>
	</div>
	<div class="bottom">
		<ui-button class="btn cancel">Cancelar</ui-button>
		<ui-button class="btn ok">Confirmar</ui-button>
	</div>
	<div class="content">
		<div class="list ri-scroll"></div>
		<div class="materials"></div>
	</div>
</div>
