<!-- Fase 3 (01/09/2026): o chrome (titlebar transparente + botoes
     btn_change2_*.bmp / btn_cancel*.bmp) saiu do bitmap e entrou no design
     system. O diagrama de silhueta dos slots (equipwin_bg2_change.bmp /
     equipwin_special_change.bmp) NAO foi tocado -- redesenhar o boneco de
     equipamento fica fora do escopo desta reforma (armadilha "nao troque
     pela metade": ou troca o visual inteiro, ou deixa como esta).
     Ganchos que SwitchEquip.js consulta, todos preservados: .panel /
     #swapgeneral / #swapcostume / .swapcontent / .item[data-index] button /
     .item .itemName / .switchoverlay / #swap-button.onswap / .closeswap /
     .disabled / .swap_* e .swap_shadow_*/.swap_costume_* (getSelectorFromLocation). -->
<div id="SwitchEquip">
	<div class="switchoverlay"></div>
	<div class="panel ri-window">
		<div class="titlebar ri-header">
			<span class="ri-title" data-text="2986"></span>
		</div>
		<table class="swapcontent" id="swapgeneral" data-background="swap_equipment/equipwin_bg2_change.bmp">
			<tr>
				<td class="swap_head_top col1"></td>
				<td rowspan="6">
					<!-- avoid applying css on td directly-->
					<div class="col2 ammo_container">
						<canvas width="55" height="125"></canvas>
					</div>
				</td>
				<td class="swap_head_mid col3"></td>
			</tr>
			<tr>
				<td class="swap_head_bottom col1"></td>
				<td class="swap_armor col3"></td>
			</tr>
			<tr>
				<td class="swap_weapon col1"></td>
				<td class="swap_shield col3"></td>
			</tr>
			<tr>
				<td class="swap_garment col1"></td>
				<td class="swap_shoes col3"></td>
			</tr>
			<tr>
				<td class="swap_accessory1 col1"></td>
				<td class="swap_accessory2 col3"></td>
			</tr>
		</table>
		<table class="swapcontent hide" id="swapcostume" data-background="swap_equipment/equipwin_special_change.bmp">
			<tr>
				<td class="swap_costume_head_top col1"></td>
				<td rowspan="6">
					<!-- avoid applying css on td directly-->
					<div class="col2 ammo_container">
						<canvas width="55" height="125"></canvas>
					</div>
				</td>
				<td class="swap_costume_head_mid col3"></td>
			</tr>
			<tr>
				<td class="swap_costume_head_bottom col1"></td>
				<td class="swap_shadow_armor col3"></td>
			</tr>
			<tr>
				<td class="swap_shadow_weapon col1"></td>
				<td class="swap_shadow_shield col3"></td>
			</tr>
			<tr>
				<td class="swap_shadow_garment col1"></td>
				<td class="swap_shadow_shoes col3"></td>
			</tr>
			<tr>
				<td class="swap_shadow_accessory1 col1"></td>
				<td class="swap_shadow_accessory2 col3"></td>
			</tr>
		</table>
	</div>
	<div class="footer" id="equipment_footer">
		<button type="button" id="swap-button" class="onswap ri-btn">Trocar</button>
		<button type="button" class="closeswap ri-btn ri-btn--sec">Fechar</button>
	</div>
</div>
