<div class="ItemInfo">
	<div class="container">
		<div class="collection"></div>
		<div class="preview-action">
			<button
				class="btn_mounting"
				data-background="equip_preview\btn_mounting_normal.bmp"
				data-down="equip_preview\btn_mounting_press.bmp"
				data-hover="equip_preview\btn_mounting_over.bmp"
				type="button"
				data-text="2922"
			></button>
		</div>
		<div class="event_view">
			<button
				class="view"
				data-background="btn_view.bmp"
				data-down="btn_view_a.bmp"
				data-hover="btn_view_b.bmp"
			></button>
			<span class="overlay_open" data-text="1294">Read</span>
			<span class="overlay_read" data-text="1295">Auto Read</span>
		</div>
		<div class="title"></div>
		<button class="close" aria-label="Fechar"></button>
		<div class="description ri-scroll">
			<div class="description-inner"></div>
		</div>
		<button class="extend" aria-label="Redimensionar"></button>
	</div>
	<div class="option-container"></div>
	<div class="cardlist">
		<div class="border"></div>
	</div>
</div>

<div id="moveinfo-tooltip"></div>
